@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
}
* {
    font-family: 'nexonGothic', sans-serif;
}


@media screen and (min-width:1028px) {
    .center {
        margin: auto;
        width: 400px;
        padding: 10px;
    }
    .header-font {
        font-size: 30px
    }
    .content-font {
        font-size: 20px
    }
}
@media screen and (max-width:1028px) {
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    .header-font {
        font-size: 60px
    }
    .content-font {
        font-size: 40px
    }
}

.center-text {
    text-align: center;
}


